.App {
  text-align: center;
}
.header {
  font-family: "Lalezar", cursive;
  font-size: 30px;
}

#amount {
  outline: none;
  width: 300px;
  height: 39px;
  margin-right: 10px;
}
.label {
  font-size: 30px;
  font-family: "Lalezar", cursive;
  padding: 10px;
}
.btn {
  cursor: pointer;
  outline: none;
  font-family: "Lalezar", cursive;
  text-transform: uppercase;
  font-size: 20px;
  height: 49px;
  border-radius: 10px;
  overflow: hidden;
  width: 150px;
  border: none;
  background-color: #2879e9;
  color: white;
}
.lorem-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}
.ipsum {
  font-size: 20px;
  font-family: "Pridi", serif;
  margin-top: 6vh;
}
